html{
    min-width: 245px;
}

body{
    margin: 0;
}

.navbar {
    background-color: rgb(28, 34, 37);
    font-size: 20px;
    top: 0;
    position: sticky;
    height: 60px;
    z-index: 20;
    border-bottom: 1px solid white;
}

.ab{
    border-bottom: none;
}

.navbar a:not(.left_i), .drp{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px 0 16px;
    text-decoration: none;
    height: 42px;
    border-left: 1px solid white;
}

.navbar a:hover:not(.active) {
    background-color: #28827c;
    color: white;
}

a.active{
    background-color: #01b1a6;
}

.logo{
    display: block;
    float: left;
    max-height: 90%;
    width: 50px;
    padding: 3px 15px 3px 15px;
    transition-duration: 0.8s;
    transition-property: transform;
}

.logo:hover{
    transform: rotateY(180deg);
}

.d {
    float: right;
    height: 100%;
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    top: 60px;
    background-color: #505050;
    width: 126px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    right: 0;
}

.dropdown a {
    float: none !important;
    color: black !important;
    border: 0 !important;
    background-color: white;
}

.d:hover .dropdown {
    display: block;
}

#deconectare:hover{
    background-color: #ff3d3d;
}

@media only screen and (max-width: 650px) {
    .left_i{
        display: none;
    }
    .navbar {
        position: relative !important;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        border: 0 !important;
    }
    .navbar a{
        float: none !important;
        max-height: 30px;
        border-left: 0 !important;
        border-bottom: 1px solid white;
        line-height: 100%;
        padding: 3px 0 0 0 !important;
    }
    .dropdown{
        width: 100% !important;
        top: 34px !important;
    }
}